# =================================================================
# CONFIGURACIÓN DE BASE DE DATOS (MySQL / MariaDB)
# =================================================================
# Para XAMPP Local:
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_sentimientos

# Puerto mapeado para el contenedor MariaDB (evita conflicto con XAMPP en 3306)
DB_CONTAINER_PORT=3308

# Para Contenedor MariaDB Remoto o en Docker Network:
# DB_HOST=mariadb   (si corre dentro de la misma red docker)
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=lasalle
# DB_NAME=db_sentimientos

# =================================================================
# CONFIGURACIÓN DE FASTAPI Y AUTENTICACIÓN
# =================================================================
FASTAPI_URL=http://127.0.0.1:8000
FASTAPI_USER=admin
FASTAPI_PASSWORD=12345

# =================================================================
# CONFIGURACIÓN DE INFERENCIA LM STUDIO (LLM LOCAL)
# =================================================================
# En local Windows: http://127.0.0.1:1234/v1
# En Docker hacia Windows Host: http://host.docker.internal:1234/v1
LLM_BASE_URL=http://127.0.0.1:1234/v1
LLM_MODEL=bartowski/Qwen2.5-0.5B-Instruct-GGUF/Qwen2.5-0.5B-Instruct-Q4_K_L.gguf
